<mat-sidenav-container fullscreen class="sidenav-container">
  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="push" class="sidenav">
    <mat-toolbar class="toolbar">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Lista de navegación -->
    <mat-nav-list>
      <mat-list-item *ngFor="let item of sideBarItems" [routerLink]="item.url" (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Toolbar principal -->
  <mat-toolbar class="mat1toobar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon >menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-button>Login</button>
  </mat-toolbar>

  <!-- Contenido principal -->
  <div class="container p-3">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
